---
import Divider from "../../components/Divider.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import ItemLayout from "../../layouts/ItemLayout.astro";
import { getBlogPosts } from "../../lib/contentful";
import {
  documentToHtmlString,
  type Options,
} from "@contentful/rich-text-html-renderer";
import { BLOCKS, type Block, type Inline } from "@contentful/rich-text-types";
import type { Asset } from "contentful";

interface Props {
  title: string;
  content: Document;
  date: Date;
}

export async function getStaticPaths() {
  const entries = await getBlogPosts();

  const renderOptions: Options = {
    renderNode: {
      [BLOCKS.EMBEDDED_ASSET]: (node: Block | Inline) => {
        const asset = node.data.target as Asset;
        const { file, title, description } = asset.fields;

        return file
          ? `<img src="${file.url}" alt="${title || description}" />`
          : "";
      },
    },
  };

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.body, renderOptions),
      date: new Date(item.fields.date),
    },
  }));
  return pages;
}

const { content, title, date } = Astro.props;
---

<ItemLayout title={title} description={title}>
  <h1 class="text-secondaryAccent" transition:name="title">{title}</h1>
  <p class="text-sm" transition:name="date">
    <FormattedDate date={date} />
  </p>
  <Divider />
  <div set:html={content} />
</ItemLayout>
