---
import FormattedDate from "./FormattedDate.astro";

const { slug, title, description, pubDate, base } = Astro.props;
---

<li class="my-4">
  <h2 class="text-xl">
    <a href={`/${base}/${slug}/`}># {title}</a>
  </h2>
  <p class="text-sm">
    <FormattedDate date={pubDate} />
  </p>
  <p class="text-base text-gray-500 italic">
    {description}
  </p>
</li>
