---
import FormattedDate from "./FormattedDate.astro";
import SvgImage from "./SvgImage.astro";

const { slug, title, description, pubDate, base, icon } = Astro.props;
---

<li
  class="max-w-fit my-4 ease bg-gradient-to-tl from-primaryAccent to-primaryAccent bg-invisibleBig bg-left-bottom bg-no-repeat duration-300 hover:bg-visibleBig hover:scale-105"
>
  <a href={`/${base}/${slug}/`}>
    <div class="flex gap-2">
      <SvgImage iconString={icon} />
      <h2 class="text-xl font-bold" transition:name="title">{title}</h2>
    </div>
    <p class="text-sm" transition:name="date">
      <FormattedDate date={pubDate} />
    </p>
    <p class="text-base text-greyColor italic">
      {description}
    </p>
  </a>
</li>
