---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/Title.astro";
import Card from "../../components/Card.astro";
import Section from "../../components/Section.astro";
import BaseHead from "../../components/BaseHead.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout>
  <BaseHead
    title="Portfolio | Nauzet Hernández's Portfolio Page"
    description="Explore my portfolio of projects as a Software Engineer and Flutter Developer. Discover innovative mobile app development solutions and see how I bring ideas to life through code and design."
    slot="header"
  />
  <Section>
    <Title text="Personal projects" />
    <ul>
      {
        projects.map((project) => (
          <Card
            slug={project.slug}
            title={project.data.title}
            description={project.data.description}
            pubDate={project.data.pubDate}
            base="projects"
            icon={project.data.icon}
          />
        ))
      }
    </ul>
  </Section>
</MainLayout>
