---
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/Title.astro";
import Card from "../../components/Card.astro";
import Section from "../../components/Section.astro";
import BaseHead from "../../components/BaseHead.astro";
import { contentfulClient, type Project } from "../../lib/contentful";
import NotLoaded from "../../components/NotLoaded.astro";

const projects = await contentfulClient.getEntries<Project>({
  content_type: "project",
});

projects.items.sort((a, b) => {
  const dateA = getDate(a.fields.date);
  const dateB = getDate(b.fields.date);

  return dateB.getTime() - dateA.getTime();
});

function getDate(date: string | Date) {
  return typeof date === "string" ? new Date(date) : date;
}
---

<MainLayout>
  <BaseHead
    title="Portfolio | Nauzet Hernández's Portfolio Page"
    description="Explore my portfolio of projects as a Software Engineer and Flutter Developer. Discover innovative mobile app development solutions and see how I bring ideas to life through code and design."
    slot="header"
  />
  <Section>
    <Title text="Personal projects" />
    {
      projects.total !== 0 ? (
        <ul>
          {projects.items.map((project) => (
            <Card
              slug={project.fields.slug}
              title={project.fields.title}
              description={project.fields.description}
              pubDate={project.fields.date}
              base="projects"
              icon={project.fields.icon}
            />
          ))}
        </ul>
      ) : (
        <NotLoaded typeNotLoaded="projects" />
      )
    }
  </Section>
</MainLayout>
